/* variables */
:root {
  --base-color: #fff;
  --second-color: #272727;
  --third-color: #47D1C5;
}

/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: var(--second-color);
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.wrapper {
    width: 85%;
    max-width: 1250px;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
}

/* website-container */
.website-container {
    width: 95%;
    margin: 1rem auto;
}

/* header */
.header {
    background: var(--base-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.header::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid var(--second-color);
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.header-wrapper {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header-wrapper a {
    color: var(--second-color);
    text-decoration: none;
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.header-wrapper a:hover {
    color: var(--third-color);
}

.main-header {
    height: 50px;
    margin: 0;
}

.main-header span {
    font-size: 3rem;
}

.menu {
    height: 100vh;
    background: var(--base-color);
    list-style: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    display: none;
}

.menu li {
    padding: 1rem 0;
    margin-right: 1rem;
    cursor: pointer;
}

.menu li:last-of-type {
    margin-right: 0;
}

.show-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hide-header {
    display: none;
}

.second-menu {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-shadow: -4px 18px 35px -22px rgba(0,0,0,0.75);
            box-shadow: -4px 18px 35px -22px rgba(0,0,0,0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    margin-top: 10px;
    margin-left: -25px;
    z-index: 1;
    display: none;
}

.second-menu li {
    background: var(--base-color);
    margin: 0;
    text-align: left;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.second-menu li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.second-menu li:hover {
    background: var(--third-color);
}

.second-menu a {
    padding-left: 1.5rem;
    display: block;
}

.second-menu a:hover {
    color: var(--base-color);
}

/* hamburger */
.hamburger {
    width: 40px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.hamburger span {
    width: 40px;
    height: 6px;
    background: var(--second-color);
    position: absolute;
    left: 0;
    -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    -o-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

.hamburger span:nth-of-type(0) {
    top: 0;
}

.hamburger span:nth-of-type(1) {
    top: calc(50% - 3px);
}

.hamburger span:last-of-type {
    bottom: 0;
}

.hamburger.active {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.hamburger.active span:nth-child(1) {
    top: calc(50% - 3px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    bottom: calc(50% - 3px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* about-me */
.about-me {
    background: var(--base-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
}

.text-section {
    width: 100%;
}

.text-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.second-header {
    margin: 1.5rem 0 1rem;
    font-size: 3rem;
}

.third-header {
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.text-wrapper-paragraph {
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.text-wrapper a {
    color: var(--second-color);
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.text-wrapper a:hover {
    color: var(--third-color);
}

.social-icons {
    margin-bottom: 2rem;
}

.social-icons a {
    margin-left: 1rem;
    text-decoration: none;
}

.photo-wrapper {
    height: 50vh;
    width: 100%;
    background: url("../img/photo.jpg") no-repeat center/cover;
    border-bottom-left-radius: 0;
}

/* subpages */
.subpages-header-wrapper {
    padding: 1rem 0;
}

.subpages {
    margin: 0;
    background: var(--base-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subpages-wrapper {
    padding: 2rem 0;
}

.subpages-second-header {
    margin: 1rem 0 1.5rem;
    text-align: center;
}

.subpages-third-header {
    margin: 2rem 0 0.5rem;
}

.subpages-paragraph {
    line-height: 1.5;
}

.subpages-paragraph a {
    color: var(--second-color);
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.subpages-paragraph a:hover {
    color: var(--third-color);
}

.subpages .articles-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.subpages .articles-box a {
    color: var(--second-color);
    text-decoration: none;
    line-height: 1.5;
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.subpages .articles-box a:hover {
    color: var(--third-color);
    text-decoration: underline;
}

/* media queries*/
@media only screen and (min-width: 500px) and (max-width: 649px) {
    .photo-wrapper {
        height: 70vh;
    }
}

@media only screen and (min-width: 650px) and (max-width: 929px) {
    .about-me {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .photo-wrapper {
        height: 100vh;
        border-bottom-left-radius: 15px;
    }
}

@media only screen and (min-width: 930px) {
    .menu {
        height: 6vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu li {
        padding: 0.5rem 0;
    }

    .hamburger {
        display: none;
    }

    .about-me {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .text-section {
        width: 50%;
    }

    .second-header {
        margin: 0 0 1rem;
    }

    .text-wrapper-paragraph {
        font-size: 1rem;
    }

    .text-wrapper-paragraph span {
        font-weight: bold;
    }

    .photo-wrapper {
        height: 80vh;
        width: 50%;
        border-bottom-left-radius: 15px;
    }
}
